.pageHeaders {
  position: relative;
  height: 209px;
  width: 100%;
  background-image: url("../../assets/images/pageHeaders.jpg");
  background-position: center;
  background-size: cover;
  &__title {
    position: absolute;
    left: 80px;
    bottom: 36px;
    color: white;
    font-size: 36px;
    font-weight: 400;
  }
}
@media (max-width: 991.98px) {
  .pageHeaders {
    height: 150px;
  }
}
@media (max-width: 768px) {
  .pageHeaders {
    height: 120px;
    // width: 118%;
    // left: -10px;
    &__title {
      left: 15px;
      bottom: 12px;
      font-size: 29px;
    }
  }
}
