.navigation {
  padding: 20px 0;
  &__list {
    display: flex;
    justify-content: center;
    gap: 44px;
    font-weight: 400;
    a {
      color: rgb(114, 110, 141);
      &:hover {
        color: rgb(28, 16, 109);
      }
    }
  }
}
@media (max-width: 768px) {
  .navigation {
    &__list {
      gap: 20px;
    }
  }
}
@media (max-width: 575.98px) {
  .navigation {
    &__list {
      flex-flow: wrap;
      font-size: 16px;
      gap: 10px;
      column-gap: 10px;
    }
  }
}
