.product {
  display: flex;
  gap: 67px;
  &__image {
    object-fit: contain;
    width: 721px;
    height: 759px;
  }
  &__info {
    margin-top: 91px;
    padding-bottom: 50px;
    width: 600px;
  }

  &__title {
    font-family: "ClashDisplay";
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #2a254b;
  }

  &__price {
    margin-top: 13px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #12131a;
  }

  &__descr,
  &__dimensions {
    margin-top: 54px;
    font-family: "ClashDisplay";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2a254b;
  }
  &__descr-text {
    width: 500px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #505977;
  }

  &__dimensions-info {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 45px 45px 45px;
    gap: 55px;
    font-family: "ClashDisplay";
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2a254b;
    div {
      display: flex;
      flex-direction: column;
    }
    span {
      font-family: "Satoshi";
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #505977;
    }
  }

  &__footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add {
    width: 143px;
    height: 56px;
    background: #2a254b;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
}
@media (max-width: 1600px) {
  .product {
    &__image {
      width: 650px;
    }
  }
}
@media (max-width: 1400px) {
  .product {
    gap: 40px;
    &__image {
      width: 650px;
      height: 650px;
    }
    &__info {
      margin-top: 20px;
    }
    &__descr {
      &-text {
        width: 100%;
      }
    }
  }
}
@media (max-width: 1200px) {
  .product {
    &__image {
      width: 500px;
    }
  }
}
@media (max-width: 991.98px) {
  .product {
    gap: 20px;
    &__info {
      width: 100%;
    }
    &__title {
      font-size: 32px;
    }
    &__image {
      width: 350px;
    }
    &__descr,
    &__dimensions {
      margin-top: 20px;
      &-info {
        margin-top: 20px;
      }
    }
    &__descr {
      &-text {
        font-size: 14px;
      }
    }
    &__footer {
      margin-top: 20px;
    }
  }
}
@media (max-width: 768px) {
  .product {
    display: flex;
    flex-direction: column;
    &__image {
      width: auto;
      height: 450px;
    }
  }
}
